export(allRegressions)
export(evalRegressions)
export(getCoefs)
export(getPvalues)
export(getR2s)
export(getRegressions)
exportClasses(Regressions)
exportClasses(subRegressions)
exportMethods(allRegressions)
exportMethods(evalRegressions)
exportMethods(getCoefs)
exportMethods(getPvalues)
exportMethods(getR2s)
exportMethods(getRegressions)
exportMethods(initialize)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
