export(allRegressions)
export(getCoefs)
export(getR2s)
export(getRegressions)
exportClasses(Regressions)
exportMethods(allRegressions)
exportMethods(getCoefs)
exportMethods(getR2s)
exportMethods(getRegressions)
exportMethods(initialize)
