export("##This")
export("(which")
export("I'll")
export("Regressions).")
export("above,")
export("allRegressions().")
export("coefficients,")
export("evalRegressions()")
export("for")
export("function")
export("getCoefs()")
export("getR2s()")
export("in")
export("print()")
export("pvalues,")
export("x,")
export("x-axis")
export("y,")
export("y-axis.")
export(I)
export(It)
export(Most)
export(Regressions)
export(Regressions.)
export(Regressions.R.)
export(Rsquared)
export(Rsquared.)
export(The)
export(a)
export(additional)
export(all)
export(allRegressions)
export(an)
export(and)
export(are)
export(arguments)
export(as)
export(calculates)
export(called)
export(class)
export(code)
export(codes)
export(coefficients)
export(coefficients.)
export(combinations)
export(computed.)
export(covariates.)
export(created)
export(defined.)
export(different.)
export(document)
export(each)
export(evalRegressions)
export(extracts)
export(file)
export(form)
export(from)
export(function.)
export(functions)
export(getCoefs)
export(getPvalues)
export(getR2s)
export(getRegressions)
export(has)
export(importance)
export(input)
export(is)
export(it)
export(last)
export(linear)
export(made)
export(main)
export(matrix)
export(model)
export(models)
export(my)
export(object)
export(occupy)
export(of)
export(only)
export(or)
export(order)
export(output)
export(parts)
export(plot)
export(possible)
export(pvalues)
export(respective)
export(returns)
export(same)
export(shows)
export(significance)
export(slot)
export(slots)
export(so)
export(subRegressions.)
export(subclass)
export(takes)
export(that)
export(the)
export(this)
export(to)
export(two)
export(use)
export(value)
export(values)
export(vector)
export(which)
export(with)
export(words.)
export(x)
export(y)
exportClasses(Regressions)
exportClasses(subRegressions)
exportMethods(getRegressions)
exportMethods(initialize)
exportMethods(print)
exportMethods(show)
